/* Welcome page. User can login or create new user */

div {
    margin: auto;
    text-align: center;
    background-color: rgb(150, 225, 250);
    border-radius: 50px;
    padding: 2%;
    margin: 1%;
    font-family: Verdana;
    color: rgb(60, 60, 60);
}

div.home {
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    padding: 2%;
    margin: 1%;
    font-family: Verdana;
}

div.task {
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    padding: 2%;
    margin: 1%;
    font-family: Verdana;
    color: rgb(60, 60, 60);
}

input {
    padding: 1%;
    border-radius: 5px;
}

button {
    background-color: rgb(80, 200, 260);
    border-color: rgb(80, 200, 260);
    color: white;
    padding: 1%;
    border-radius: 10px;
    font-family: Verdana;
    font-size: medium;
}

button:hover {
    background-color: white;
    border-color: white;
    color: black;
    padding: 1%;
    border-radius: 10px;
    font-family: Verdana;
    font-size: medium;
}